
body {
  background-color: rgb(6, 6, 22); /* Soothing background color */
  font-family: Arial, sans-serif;
}

header {
  background-color:rgb(6, 6, 22) ;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(214, 222, 227);
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#strength {
  font-size: 18px;
  font-weight: bold;
}

#strength-value {
  color: #00698f;
}